* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f5f7f6;
  color: #333;
}



/* ===== HERO ===== */
.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  url("https://thefutureeconomy.ca/wp-content/uploads/2019/11/Fishing-Fisheries-Fishery-Industry-Canada-Future-Economy-Cropped.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;
  padding-top: 10px;
}

.hero-content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: #fff;
}

.hero-content h1 {
  font-size: 46px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #b6d43a;
}

.hero-content p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-buttons a {
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary {
  background: #95ba03;
  color: #000;
}

.btn-secondary {
  border: 2px solid #fff;
  color: #fff;
}

/* ===== SECTIONS ===== */
section {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 36px;
  color: #06ae1f;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  color: #7bbf2a;
  margin-bottom: 15px;
}

/* ===== FOOTER ===== */
footer {
  background: #102626;
  color: #fff;
  padding: 40px 20px;
}

footer p {
  text-align: center;
  font-size: 14px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 32px;
  }

  nav ul {
    display: none;
  }
}


/* ===== CARD ANIMATION ===== */
.card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

/* Initial directions */
.card.left {
  transform: translateX(-120px);
}

.card.right {
  transform: translateX(120px);
}

.card.center {
  transform: translateY(120px);
}

/* When visible */
.card.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
