/* ===== HEADER ===== */
header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #457c02;
  cursor: pointer;
}

.logo span {
  color: #3a7d44;
}

/* LOGO IMAGE */
.logo-img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

/* ===== NAV ===== */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #7bbf2a;
}

/* ===== BUTTON ===== */
.btn {
  background: #b6d43a;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #a2c72e;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}
